%table.table.table-striped
  %thead
    %tr
      %th= han :task, :id
      %th= t '.task_name'
      %th= t '.user_elapsed_time'
  %tbody
    - @statistics.each do |stat|
      %tr
        - stat[:task].tap do |task|
          %td= task.id
          %td= link_to task, task
        %td= distance_of_time_in_words stat[:user_elapsed_time]
