= simple_form_for @date_form, method: :get, url: {}, html: {class: 'form-inline'} do |f|
  .form-group
    = user_statistics_draw_months @date_form
  = f.input :start_date, as: :datetime_picker, label: false
  = f.input :end_date, as: :datetime_picker, label: false
  = f.button :submit

%table.table.table-striped
  %thead
    %tr
      %th= han :task, :id
      %th= t '.task_name'
      %th= t '.user_elapsed_time'
      %th= t '.user_reward'
  %tbody
    - @statistics.each do |stat|
      %tr
        - stat[:task].tap do |task|
          %td= task.id
          %td= link_to task, task
        %td= convert_seconds_to_string stat[:user_elapsed_time]
        %td= stat[:reward].to_s(:currency)
    %tr
      %td{colspan: 3}
        %strong.pull-right= t '.total_reward'
      %td
        %strong= @statistics.sum{ |stat| stat[:reward] }.to_s(:currency)
- if @statistics.present?
  = link_to t('.download_xlsx'), url_for(params.merge(format: :xlsx))
