= simple_form_for [contract, act] do |f|
  = f.input :order_number
  = f.input :date, as: :date_picker
  = f.input :formulation
  = f.input :sum
  = render 'shared/attachments_files_form', f: f
  = f.button :submit
