.panel.panel-info
  .panel-heading
    %strong= comment.user
  .panel-body
    = markdown_render comment.content
  %ul.list-group
    %li.list-group-item
      %strong= t('.created_date')
      = l comment.created_at, format: :short
      - if comment.elapsed_time.nonzero?
        %li.list-group-item
          %strong= t('.elapsed_time')
          = distance_of_time_in_words comment.elapsed_time
