= simple_form_for task, builder: PunditFormBuilder do |f|
  = f.input :title
  = f.association :project, collection: policy_scope(Project)
  = f.input :description, as: :big_textarea
  = f.input :access_data, as: :big_textarea
  = f.input :deadline, as: :datetime_picker
  = f.input :competence
  = f.input :status_event, collection: f.object.status_transitions,
                           label_method: :human_event, value_method: :event
  = f.association :responsible_user
  = f.association :users
  = f.button :submit
