= link_to t('.open_search_form'), '#search_form',
          class: 'btn btn-default',
          data: { toggle: :collapse },
          aria: { expanded: false, controls: :search_form }
= search_form_for q, builder:  SimpleForm::FormBuilder, id: :search_form, class: :collapse  do |f|
  = f.input :responsible_user_id_in, collection: User.all, input_html: { multiple: true }
  = f.input :task_participations_user_id_in, collection: User.all, input_html: { multiple: true }
  = f.input :status_in, collection: Task.state_machines[:status].states,
                        label_method: :human_name, value_method: :value,
                        input_html: { multiple: true }

  = f.input :competence_in, collection: Task.competence.options, input_html: { multiple: true }
  = f.input :project_id_in, collection: Project.all, input_html: { multiple: true }
  = f.input :title_or_description_or_comments_content_cont
  = f.button :submit