%h1.page-header= t :tasks

= link_to t('.new_task'), new_task_path, class: 'btn btn-default'
= render 'search_task_form', q: @q
%table.table.table-striped
  %thead
    %tr
      %th= sort_link @q, :id
      %th= sort_link @q, :title
      %th= sort_link @q, :project_id
      %th= han :task, :users
      %th= sort_link @q, :deadline
      %th= sort_link @q, :status
      %th= sort_link @q, :competence
      %th= sort_link @q, :updated_at
      %th= sort_link @q, :total_elapsed_time
      %th= t :operations
  %tbody
    - @tasks.each do |task|
      %tr
        %td= task.id
        %td= link_to task.title, task
        %td= task.project
        %td
          = thumb_user_avatar task.responsible_user
          = "->"
          - task.users.each do |user|
            = thumb_user_avatar user
        %td= formatted_date task.deadline
        %td= task.human_status_name
        %td= task.competence_text
        %td= formatted_date task.updated_at
        %td= convert_seconds_to_string task.total_elapsed_time if task.total_elapsed_time.nonzero?
        %td
          - if policy(task).edit?
            = link_to t(:edit), edit_task_path(task)

= paginate @tasks, theme: 'twitter-bootstrap-3'
