%h1.page-header= t :tasks

= link_to t('.new_task'), new_task_path, class: 'btn btn-default'
= render 'search_task_form', q: @q
%table.table.table-striped
  %thead
    %tr
      %th= sort_link @q, :id
      %th= sort_link @q, :title
      %th= sort_link @q, :project_id
      %th= han :task, :users
      %th= sort_link @q, :deadline
      %th= sort_link @q, :status
      %th= sort_link @q, :competence
      %th= sort_link @q, :updated_at
      %th= sort_link @q, :total_elapsed_time
      %th= t :operations
  %tbody
    - @tasks.each do |task|
      %tr
        - present task do |task_presenter|
          %td= task_presenter.id
          %td= task_presenter.title
          %td= task_presenter.project
          %td
            = task_presenter.responsible_user.profile_image_thumb
            = "->"
            - task_presenter.users.each do |user|
              = user.profile_image_thumb
          %td= task_presenter.deadline
          %td= task_presenter.human_status_name
          %td= task_presenter.competence_text
          %td= task_presenter.updated_at
          %td= task_presenter.total_elapsed_time
        %td
          - if policy(task).edit?
            = link_to t(:edit), edit_task_path(task)

= paginate @tasks, theme: 'twitter-bootstrap-3'
