%h1.page-header= t :tasks

= link_to (t '.new_task'), new_task_path, class: 'btn btn-default'

%table.table.table-striped
  %thead
    %tr
      %th= sort_link @q, :title
      %th= sort_link @q, :responsible_user_email, han('task', :responsible_user)
      %th= han :task, :users
      %th= sort_link @q, :updated_at
      %th= t :operations
  %tbody
    - @tasks.each do |task|
      %tr
        %td= link_to task.title, task
        %td= task.responsible_user
        %td= task.users.map(&:to_s).join(', ')
        %td= l task.updated_at, format: :long
        %td
          - if task.creator_id == current_user.id
            = link_to t(:edit), edit_task_path(task)

= paginate @tasks, theme: 'twitter-bootstrap-3'
