.panel.panel-success
  .panel-heading
    %h1.panel-title= @task.title
  .panel-body
    = markdown @task.description

  %ul.list-group
    %li.list-group-item
      %strong=  han :task, :created_at
      = l @task.created_at, format: :short
    %li.list-group-item
      %strong=  han :task, :competence
      = @task.competence_text
    %li.list-group-item
      %strong= han :task, :status
      = @task.human_status_name
      .pull-right
        - if policy(@task).status?
          - @task.status_transitions.each do |transition|
            = link_to transition.human_event, status_task_path(@task, event: transition.event), method: :patch
    - if @task.deadline
      %li.list-group-item
        %strong= han :task, :deadline
        = l @task.deadline, format: :short
    - if @task.project
      %li.list-group-item
        %strong= han :task, :project
        = @task.project
    - if @task.total_elapsed_time.nonzero?
      %li.list-group-item
        %strong= han :task, :total_elapsed_time
        = distance_of_time_in_words @task.total_elapsed_time

= render 'web/tasks/comments/form', comment: @task.comments.build, url: task_comments_path(@task), method_name: :post

= render partial: 'comment', collection: @task.comments.ordered
