%h1= @task.title

!= @task.description


%hr

- @task.comments.reverse.each do |comment|
  .panel.panel-info
    .panel-heading
      %strong= comment.user
      %span.text-muted= localize(comment.created_at, format: :short)
      - if comment.elapsed_time
        = "#{t(:elapsed_time)}  #{comment.elapsed_time_hours}:#{comment.elapsed_time_minutes}"
    .panel-body
      = comment.content

%h1= t '.new_comment'
= render 'web/tasks/comments/form', comment: @task.comments.build, url: task_comments_path(@task), method_name: :post
