%h1= @task.title

!= @task.description


%h1= t '.new_comment'
= render 'web/tasks/comments/form', comment: @task.comments.build, url: task_comments_path(@task), method_name: :post

%hr

= render partial: 'comment', collection: @task.comments.ordered
