- present @task do |task_presenter|
  .panel.panel-success
    .panel-heading
      %h1.panel-title= task_presenter.title
    - if task_presenter.description.present?
      .panel-body
        = task_presenter.description
    %ul.list-group
      - if task_presenter.access_data.present?
        %li.list-group-item
          %strong=  han :task, :access_data
          %br
          = task_presenter.access_data

      = show_attribute_in_list_group task_presenter, :created_at
      = show_attribute_in_list_group task_presenter, :competence_text
      = show_attribute_in_list_group task_presenter, :status
      = show_attribute_in_list_group task_presenter, :deadline
      = show_attribute_in_list_group task_presenter, :project
      = show_attribute_in_list_group task_presenter, :total_elapsed_time

      - task_presenter.attachments.each do |attachment|
        %li.list-group-item
          = link_to attachment.file_filename, attachment_url(attachment, :file)
          = attachment.file_size.to_s(:human_size)

      %li.list-group-item
        - if policy(task_presenter).edit?
          = link_to t(:edit), edit_task_path(task_presenter)
        - if policy(task_presenter).status?
          - task_presenter.status_transitions.each do |transition|
            = link_to transition.human_event, status_task_path(task_presenter, event: transition.event), method: :patch

= render 'web/tasks/comments/form', comment: @task.comments.build, url: task_comments_path(@task), method_name: :post

= render partial: 'comment', collection: @task.comments.ordered
