= simple_form_for project, builder: PunditFormBuilder do |f|
  = f.input :title
  = f.input :kind
  = f.input :access_data, as: :big_textarea
  = f.input :deadline, as: :datetime_picker
  = f.association :responsible_user
  = f.association :counterparty
  = f.input :cost
  = f.input :complaints
  = f.input :critical_complaints
  = f.input :letters_of_thanks
  = f.button :submit
