%h1.page-header= t :projects

- if policy(:project).new?
  = link_to t('.new_project'), new_project_path, class: 'btn btn-default'
= render 'search_project_form', q: @q
%table.table.table-striped
  %thead
    %tr
      = readable_tag :th, :project, :id do
        = sort_link @q, :id
      = readable_tag :th, :project, :title do
        = sort_link @q, :title
      = readable_tag :th, :project, :responsible_user do
        = sort_link @q, :responsible_user
      = readable_tag :th, :project, :status do
        = sort_link @q, :status
      = readable_tag :th, :project, :updated_at do
        = sort_link @q, :updated_at
      = readable_tag :th, :project, :cost do
        = sort_link @q, :cost
      %th= t :operations
  %tbody
    - @projects.each do |project|
      %tr
        - present project do |project_presenter|
          = readable_tag :td, :project, :id do
            = project_presenter.id
          = readable_tag :td, :project, :title do
            = project_presenter.title
          = readable_tag :td, :project, :responsible_user do
            = project_presenter.responsible_user.avatar_thumb
          = readable_tag :td, :project, :status do
            = project_presenter.human_status_name
          = readable_tag :td, :project, :updated_at do
            = project_presenter.updated_at
          = readable_tag :td, :project, :cost do
            = project_presenter.cost
        %td
          - if policy(project).edit?
            = link_to t(:edit), edit_project_path(project)

= paginate @projects, theme: 'twitter-bootstrap-3'
