%h1.page-header= t :projects

- if policy(:project).new?
  = link_to t('.new_project'), new_project_path, class: 'btn btn-default'
%table.table.table-striped
  %thead
    %tr
      %th= sort_link @q, :id
      %th= sort_link @q, :title
      %th= sort_link @q, :updated_at
      %th= sort_link @q, :cost
      %th= t :operations
  %tbody
    - @projects.each do |project|
      %tr
        - present project do |project_presenter|
          %td= project_presenter.id
          %td= project_presenter.title
          %td= project_presenter.updated_at
          %td= project_presenter.cost
        %td
          - if policy(project).edit?
            = link_to t(:edit), edit_project_path(project)

= paginate @projects, theme: 'twitter-bootstrap-3'
