= simple_form_for @user, builder: PunditFormBuilder do |f|
  = f.input :name
  = f.input :email
  = f.input :role
  = f.input :contacts, as: :big_textarea
  = f.input :requisites, as: :big_textarea
  = f.input :position
  = f.input :hour_rate
  = f.input :external_hour_rate
  = f.input :password
  = f.input :password_confirmation
  = f.input :profile_image, as: :attachment

  - if @user.profile_image
    = image_tag attachment_url(@user, :profile_image, :fill, 200, 200)
    = f.input :remove_profile_image, as: :boolean
  = f.button :submit
