= simple_form_for @user, builder: PunditFormBuilder do |f|
  = f.input :name
  = f.input :email
  = f.input :role
  = f.input :contacts, as: :big_textarea
  = f.input :requisites, as: :big_textarea
  = f.input :position
  = f.input :password
  = f.input :password_confirmation
  = f.input :avatar, as: :file
  = f.input :avatar_cache, as: :hidden
  - if @user.avatar?
    = f.input :remove_avatar, as: :boolean
    %p= image_tag(@user.avatar.small.url)
  = f.button :submit
