= simple_form_for @user, builder: PunditFormBuilder do |f|
  = f.input :name
  = f.input :email
  = f.input :role
  = f.input :contacts
  = f.input :requisites
  = f.input :position
  = f.input :password
  = f.input :password_confirmation
  = f.button :submit
