%h1.page-header= t :users

%table.table.table-striped
  %thead
    %tr
      %th= han :user, :avatar
      %th= sort_link @q, :name
      %th= sort_link @q, :email
      %th= sort_link @q, :role
      %th= t :operations
  %tbody
    - @users.each do |user|
      %tr
        %td= thumb_user_avatar user
        %td= link_to user.name, user
        %td= user.email
        %td= user.role.text
        %td
          - if policy(user).edit?
            = link_to t(:edit), edit_user_path(user)

= paginate @users, theme: 'twitter-bootstrap-3'
