%h1.page-header= t :users

%table.table.table-striped
  %thead
    %tr
      = readable_tag :th, :user, :profile_image do
        = han :user, :profile_image
      = readable_tag :th, :user, :name do
        = sort_link @q, :name
      = readable_tag :th, :user, :email do
        = sort_link @q, :email
      = readable_tag :th, :user, :role do
        = sort_link @q, :role
      %th= t :operations
  %tbody
    - @users.each do |user|
      %tr
        - present user do |user_presenter|
          = readable_tag :td, :user, :profile_image do
            = user_presenter.profile_image_thumb
          = readable_tag :td, :user, :name do
            = user_presenter.to_link
          = readable_tag :td, :user, :email do
            = user_presenter.email
          = readable_tag :td, :user, :role do
            = user_presenter.role_text
        %td
          - if policy(user).statistics_show?
            = link_to t(:statistics), user_statistics_path(user)
          - if policy(user).pm_bonus_show?
            = link_to t(:bonus), user_pm_bonus_path(user)
          - if policy(user).edit?
            = link_to t(:edit), edit_user_path(user)
          - if policy(:session).update?
            = link_to t(:switch_user), session_path(session: { user_id: user.id }), method: :patch

        = paginate @users, theme: 'twitter-bootstrap-3'
