%h1.page-header= t :users

%table.table.table-striped
  %thead
    %tr
      %th= han :user, :avatar
      %th= sort_link @q, :name
      %th= sort_link @q, :email
      %th= sort_link @q, :role
      %th= t :operations
  %tbody
    - @users.each do |user|
      %tr
        - present user do |user_presenter|
          %td= user_presenter.avatar_thumb
          %td= user_presenter.name
          %td= user_presenter.email
          %td= user_presenter.role_text
        %td
          - if policy(user).statistics_show?
            = link_to t(:statistics), user_statistics_path(user)
          - if policy(user).edit?
            = link_to t(:edit), edit_user_path(user)

        = paginate @users, theme: 'twitter-bootstrap-3'
