%dl.dl-horizontal
  %dt
    =t 'attributes.name'
  %dd
    = @user.name
  %dt
    = t 'attributes.email'
  %dd
    = @user.email
  %dt
    = t 'attributes.contacts'
  %dd
    = @user.contacts
  %dt
    = t 'attributes.requisites'
  %dd
    = @user.requisites
  %dt
    = t 'attributes.position'
  %dd
    = @user.position
= link_to t(:edit), edit_user_path(@user), class: 'btn btn-default'
