%dl.dl-horizontal
  = show_attribute(@user, :name)
  = show_attribute(@user, :role_text)
  = show_attribute(@user, :avatar)
  = show_attribute(@user, :email)
  = show_attribute(@user, :contacts)
  = show_attribute(@user, :requisites)
  = show_attribute(@user, :position)
  = show_attribute(@user, :hour_rate)
  = show_attribute(@user, :external_hour_rate)

- if policy(@user).edit?
  = link_to t(:edit), edit_user_path(@user), class: 'btn btn-default'
