%dl.dl-horizontal
  %dt= han(:user, :name)
  %dd= @user.name

  %dt= han(:user, :avatar)
  %dd= small_user_avatar @user

  %dt= han(:user, :email)
  %dd= @user.email

  %dt= han(:user, :contacts)
  %dd= @user.contacts

  %dt= han(:user, :requisites)
  %dd= @user.requisites

  %dt= han(:user, :position)
  %dd= @user.position

- if policy(@user).edit?
  = link_to t(:edit), edit_user_path(@user), class: 'btn btn-default'
