%dl.dl-horizontal
  - present @user do |user_presenter|
    = show_readable_attribute user_presenter.model, :name
    = show_readable_attribute user_presenter, :role_text
    = show_readable_attribute user_presenter, :profile_image
    = show_readable_attribute user_presenter, :email
    = show_readable_attribute user_presenter, :contacts
    = show_readable_attribute user_presenter, :requisites
    = show_readable_attribute user_presenter, :position
    = show_readable_attribute user_presenter, :hour_rate
    = show_readable_attribute user_presenter, :external_hour_rate

- if policy(@user).edit?
  = link_to t(:edit), edit_user_path(@user), class: 'btn btn-default'
