%dl.dl-horizontal
  %dt
    = han(User, :name)
  %dd
    = @user.name
  %dt
    =  han(User, :email)
  %dd
    = @user.email
  %dt
    =  han(User, :contacts)
  %dd
    = @user.contacts
  %dt
    =  han(User, :requisites)
  %dd
    = @user.requisites
  %dt
    =  han(User, :position)
  %dd
    = @user.position
= link_to t(:edit), edit_user_path(@user), class: 'btn btn-default'
