%h2= t(:supplementary_agreements)
%table.table.table-striped
  %thead
    %tr
      %th= han 'contract/supplementary_agreement', :id
      %th= han 'contract/supplementary_agreement', :order_number
      %th= han 'contract/supplementary_agreement', :date
      %th= han 'contract/supplementary_agreement', :contact_person_id
      %th= han 'contract/supplementary_agreement', :have_original
      %th= t :operations
  %tbody
    - supplementary_agreements.web.each do |supplementary_agreement|
      %tr
        - present supplementary_agreement do |supplementary_agreement_presenter|
          %td= supplementary_agreement_presenter.id
          %td= supplementary_agreement_presenter.to_link
          %td= supplementary_agreement_presenter.date
          %td= supplementary_agreement_presenter.contact_person.to_link
          %td= supplementary_agreement_presenter.have_original
        %td
          - if policy(@contract).edit?
            = link_to t(:edit), edit_contract_supplementary_agreement_path(@contract, supplementary_agreement)
