- present @contract do |contract_presenter|
  %dl.dl-horizontal
    = show_attribute contract_presenter, :id
    = show_attribute contract_presenter, :order_number
    = show_attribute contract_presenter, :date
    = show_attribute contract_presenter, :counterparty

    %dt= t '.files'
    %dd
      - contract_presenter.attachments.each do |attachment|
        %div
          = link_to attachment.file_filename, attachment_url(attachment, :file)
          = attachment.file_size.to_s(:human_size)

    %dt= t :operations
    %dd
      - if policy(@contract).edit?
        = link_to t(:edit), edit_contract_path(@contract)