- present @contract do |contract_presenter|
  %dl.dl-horizontal
    = show_attribute contract_presenter, :id
    = show_attribute contract_presenter, :order_number
    = show_attribute contract_presenter, :date
    = show_attribute contract_presenter, :counterparty

    %dt= t '.files'
    %dd
      = render 'shared/files_list', attachments: contract_presenter.attachments

    %dt= t :operations
    %dd
      - if policy(@contract).edit?
        = link_to t(:edit), edit_contract_path(@contract)
= link_to t('.new_supplementary_agreement'), new_contract_supplementary_agreement_path(@contract)
- if @contract.supplementary_agreements.present?
  = render 'supplementary_agreements', supplementary_agreements: @contract.supplementary_agreements