%h1.page-header= t :officials

- if policy(:official).new?
  = link_to t('.new_official'), new_official_path, class: 'btn btn-default'
%table.table.table-striped
  %thead
    %tr
      = readable_tag :th, :official, :id do
        = sort_link @q, :id
      = readable_tag :th, :official, :name do
        = sort_link @q, :name
      = readable_tag :th, :official, :counterparty do
        = sort_link @q, :counterparty
      %th= t :operations
  %tbody
    - @officials.each do |official|
      %tr
        - present official do |official_presenter|
          = readable_tag :td, :official, :id do
            = official_presenter.id
          = readable_tag :td, :official, :name do
            = official_presenter.name
          = readable_tag :td, :official, :counterparty do
            = official_presenter.counterparty
        %td
          - if policy(official).edit?
            = link_to t(:edit), edit_official_path(official)

= paginate @officials, theme: 'twitter-bootstrap-3'
