= simple_form_for comment, url: url, method: method_name do |f|
  = f.input :content
  = f.input :elapsed_time_hours, collection: 0.step(to: 24)
  = f.input :elapsed_time_minutes, collection:  0.step(by: 5, to: 60)
  = f.submit
