.panel.panel-default
  .panel-heading
    %strong= t '.new_comment'

  .panel-body
    = simple_form_for [comment.task, comment] do |f|
      = f.input :content, as: :big_textarea

      .form-group
        = f.label :elapsed_time
        .row
          .col-sm-1
            = f.input :elapsed_time_hours, collection: 0.step(to: 24), include_blank: false
          .col-sm-1
            = f.input :elapsed_time_minutes, collection:  0.step(by: 5, to: 60), include_blank: false

      = render 'shared/attachments_files_form', f: f
      = f.input :date_correction, include_blank: false
      = f.button :submit
