%div
  %p
    %strong
      =t 'attributes.name'
    = @profile.name
  %p
    %strong
      = t 'attributes.email'
    = @profile.email
  %p
    %strong
      = t 'attributes.contacts'
    = @profile.contacts
  %p
    %strong
      = t 'attributes.requisites'
    = @profile.requisites
  %p
    %strong
      = t 'attributes.position'
    = @profile.position
%div
  = link_to "Редактировать", edit_profile_path
