.navbar.navbar-default.navbar-static-top{role: "navigation"}
  .container
    .navbar-header
      %button.navbar-toggle{data: {target: ".navbar-collapse", toggle: "collapse"}, type: "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'Corporate', root_path, class: 'navbar-brand'
    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        = menu_item :project, :index, t(:projects), projects_path
        = menu_item :task, :index, t(:tasks), tasks_path
        - unless current_user.guest?
          %li.dropdown
            = link_to '#', { 'data-toggle': 'dropdown' } do
              = t(:users)
              %span.caret
            %ul.dropdown-menu
              = menu_item :user, :index, t(:list_users), users_path
              = menu_item :invite, :new, t(:invite), new_account_invite_path
        = menu_item :counterparty, :index, t(:counterparties), counterparties_path

      %ul.nav.navbar-nav.navbar-right
        - unless current_user.guest?
          %li.dropdown
            = link_to '#', { 'data-toggle': 'dropdown' } do
              = current_user
              %span.caret
            %ul.dropdown-menu
              = menu_item current_user, :show, t(:show_profile), user_path(current_user)
              = menu_item current_user, :show, t(:edit_profile), edit_user_path(current_user)
              = menu_item current_user, :statistics_show, t(:my_statistics), user_statistics_path(current_user)
        = menu_item :session, :new, t(:sign_in), new_session_path
        = menu_item :session, :destroy, t(:sign_out), session_path, method: :delete