!!!
%html
  %head
    %title Corporate
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1'}
    = csrf_meta_tags
  %body
    = render 'layouts/web/navbar'
    .container
      = render_breadcrumbs
      = yield
