!!!
%html
  %head
    %title Corporate
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1'}
    = csrf_meta_tags
  %body
    .navbar.navbar-default.navbar-static-top{role: "navigation"}
      .container
        .navbar-header
          %button.navbar-toggle{data: {target: ".navbar-collapse", toggle: "collapse"}, type: "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to 'Corporate', root_path, class: 'navbar-brand'
        .collapse.navbar-collapse
          %ul.nav.navbar-nav
            - if signed_in?
              %li= link_to (t :tasks), tasks_path
              %li= link_to (t :invite), new_account_invite_path
            -#%li= link_to 'Backups', backups_path
            -#%li= link_to 'Restorations', restorations_path
            -#%li= link_to 'Repository Fsck Defences', repository_fsck_defences_path
            -#%li= link_to 'Sidekiq', "/sidekiq", data: { 'no-turbolink' => true }
          %ul.nav.navbar-nav.navbar-right
            - if signed_in?
              %li= link_to current_user, edit_profile_path
              %li= link_to t(:sign_out), session_path, method: :delete
            - if signed_out?
              %li= link_to t(:sign_in), new_session_path
    .container
      = yield
