= simple_form_for @session_form, url: session_path, html: { class: 'form-horizontal' } do |f|
  = f.input :email
  = f.input :password
  = f.submit
  - @session_form.errors[:base].each do |error|
    = error
