%h1.page-header= t :contractors

- if policy(:contractor).new?
  = link_to t('.new_contractor'), new_contractor_path, class: 'btn btn-default'
- if policy(:representative).index?
  = link_to t(:representatives), representatives_path, class: 'btn btn-default'
%table.table.table-striped
  %thead
    %tr
      = readable_tag :th, :contractor, :id do
        = sort_link @q, :id
      = readable_tag :th, :contractor, :title do
        = sort_link @q, :title
      %th= t :operations
  %tbody
    - @contractors.each do |contractor|
      %tr
        - present contractor do |contractor_presenter|
          = readable_tag :td, :contractor, :id do
            = contractor_presenter.id
          = readable_tag :td, :contractor, :title do
            = contractor_presenter.title
        %td
          - if policy(contractor).edit?
            = link_to t(:edit), edit_contractor_path(contractor)

= paginate @contractors, theme: 'twitter-bootstrap-3'
