= simple_form_for project, url: project_finish_path, method: :post do |f|
  = f.input :finished_at, as: :datetime_picker
  %span.help-block
    #{han :project, :deadline}:
    = l project.deadline, format: :numeric
  = f.input :overdue_kind
  = f.button :submit
