= render 'shared/date_form', date_form: @date_form
%table.table.table-striped
  %thead
    %tr
      %th= han :project, :id
      %th= han :project, :title
      %th= han :project, :counterparty
      %th= han :project, :cost
      %th= t '.rest'
      %th= t '.project_bonus'
  %tbody
    - @bonuses.each do |bonus|
      %tr
        - present bonus[:project] do |project_presenter|
          %td= project_presenter.id
          %td= project_presenter.to_link
          %td= project_presenter.counterparty.to_link
          %td= project_presenter.cost
        %td= bonus[:rest].to_s(:currency)
        %td= bonus[:bonus].to_s(:currency)
    %tr
      %td{colspan: 5}
        %strong.pull-right= t '.total_bonus'
      %td
        %strong= @bonuses.sum{ |bonus| bonus[:bonus] }.to_s(:currency)
- if @bonuses.present?
  = link_to t('.download_xlsx'), url_for(params.merge(format: :xlsx)), class: 'btn btn-default'
