= render 'shared/date_form'
%table.table.table-striped
  %thead
    %tr
      %th= han :task, :id
      %th= han :task, :title
      %th= han :task, :counterparty
      %th= han :task, :cost
      %th= t '.rest'
      %th= t '.project_bonus'
  %tbody
    - @bonuses.each do |bonus|
      %tr
        - present bonus[:project] do |project_presenter|
          %td= project_presenter.id
          %td= project_presenter.to_link
          %td= project_presenter.counterparty.to_link
          %td= project_presenter.cost
        %td= bonus[:rest].to_s(:currency)
        %td= bonus[:bonus].to_s(:currency)
    %tr
      %td{colspan: 5}
        %strong.pull-right= t '.total_bonus'
      %td
        %strong= @bonuses.sum{ |bonus| bonus[:bonus] }.to_s(:currency)
