%h2= t(:officials)
= link_to t(:new_official), new_counterparty_official_path(@counterparty), class: 'btn btn-default'
%table.table.table-striped
  %thead
    %tr
      %th= han 'counterparty/official', :id
      %th= han 'counterparty/official', :full_name
      %th= han 'counterparty/official', :position
      %th= t :operations
  %tbody
    - @counterparty.officials.web.each do |official|
      - present official do |official_presenter|
        %tr
          %td= official_presenter.id
          %td= link_to official_presenter, [@counterparty, official]
          %td= official_presenter.position
          %td
            - if policy(official).edit?
              = link_to t(:edit), edit_counterparty_official_path(@counterparty, official)