%h2= t(:officials)
= link_to t(:new_official), new_counterparty_official_path(@counterparty), class: 'btn btn-default'
%table.table.table-striped
  %thead
    %tr
      %th= han 'counterparty/official', :id
      %th= han 'counterparty/official', :name
      %th= han 'counterparty/official', :position
      %th= t :operations
  %tbody
    - @counterparty.officials.web.each do |official|
      %tr
        %td= official.id
        %td= link_to official.name, counterparty_official_path(@counterparty, official)
        %td= official.position
        %td
          - if policy(official).edit?
            = link_to t(:edit), edit_counterparty_official_path(@counterparty, official)