%table.table.table-striped
  %thead
    %tr
      = readable_tag :th, :project, :id do
        = han :project, :id
      = readable_tag :th, :project, :title do
        = han :project, :title
      = readable_tag :th, :project, :responsible_user_id do
        = han :project, :responsible_user
      = readable_tag :th, :project, :status do
        = han :project, :status
      = readable_tag :th, :project, :updated_at do
        = han :project, :updated_at
      = readable_tag :th, :project, :cost do
        = han :project, :cost
      %th= t :operations
  %tbody
    - counterparty_presenter.projects_web.each do |project_presenter|
      %tr
        = readable_tag :td, :project, :id do
          = project_presenter.id
        = readable_tag :td, :project, :title do
          = project_presenter.title
        = readable_tag :td, :project, :responsible_user_id do
          = project_presenter.responsible_user.profile_image_thumb
        = readable_tag :td, :project, :status do
          = project_presenter.human_status_name
        = readable_tag :td, :project, :updated_at do
          = project_presenter.updated_at
        = readable_tag :td, :project, :cost do
          = project_presenter.cost
        %td
          - if policy(project_presenter).edit?
            = link_to t(:edit), [:edit, project_presenter]
