%h1.page-header= t :counterparties

- if policy(:counterparty).new?
  = link_to t('.new_counterparty'), new_counterparty_path, class: 'btn btn-default'
%table.table.table-striped
  %thead
    %tr
      %td= sort_link @q, :id
      %td= sort_link @q, :title
      %th= t :operations
  %tbody
    - @counterparties.each do |counterparty|
      %tr
        - present counterparty do |counterparty_presenter|
          %td= counterparty_presenter.id
          %td= counterparty_presenter.title
        %td
          - if policy(counterparty).edit?
            = link_to t(:edit), edit_counterparty_path(counterparty)

= paginate @counterparties, theme: 'twitter-bootstrap-3'
