- present @counterparty do |counterparty_presenter|
  %h1= counterparty_presenter.title
  %dl.dl-horizontal
    = show_attribute counterparty_presenter, :responsible_user_link
    = show_attribute counterparty_presenter, :requisites
    = show_attribute counterparty_presenter, :contacts
    = show_attribute counterparty_presenter, :agreements
    = show_attribute counterparty_presenter, :site
    = show_attribute counterparty_presenter, :comment

    %dt= t :operations
    %dd
      - if policy(@counterparty).edit?
        = link_to t(:edit), edit_counterparty_path(@counterparty)
%h2= t(:projects)
= render partial: 'projects'
%h2= t(:officials)
= link_to t('.new_official'), new_counterparty_official_path(@counterparty), class: 'btn btn-default'
= render partial: 'officials'
