- present @counterparty do |counterparty_presenter|
  %h1= counterparty_presenter.title
  %dl.dl-horizontal
    = show_attribute counterparty_presenter, :responsible_user
    = show_attribute counterparty_presenter, :requisites
    = show_attribute counterparty_presenter, :contacts
    = show_attribute counterparty_presenter, :agreements
    = show_attribute counterparty_presenter, :site
    = show_attribute counterparty_presenter, :comment

    %dt= t :operations
    %dd
      - if policy(@counterparty).edit?
        = link_to t(:edit), edit_counterparty_path(@counterparty)
%h2= t(:projects)
%table.table.table-striped
  %thead
    %tr
      = readable_tag :th, :project, :id do
        = han :project, :id
      = readable_tag :th, :project, :title do
        = han :project, :title
      = readable_tag :th, :project, :responsible_user do
        = han :project, :responsible_user
      = readable_tag :th, :project, :status do
        = han :project, :status
      = readable_tag :th, :project, :updated_at do
        = han :project, :updated_at
      = readable_tag :th, :project, :cost do
        = han :project, :cost
      %th= t :operations
  %tbody
    - @counterparty.projects.web.each do |project|
      %tr
        - present project do |project_presenter|
          = readable_tag :td, :project, :id do
            = project_presenter.id
          = readable_tag :td, :project, :title do
            = project_presenter.title
          = readable_tag :td, :project, :responsible_user do
            = project_presenter.responsible_user.profile_image_thumb
          = readable_tag :td, :project, :status do
            = project_presenter.human_status_name
          = readable_tag :td, :project, :updated_at do
            = project_presenter.updated_at
          = readable_tag :td, :project, :cost do
            = project_presenter.cost
        %td
          - if policy(project).edit?
            = link_to t(:edit), edit_project_path(project)
%h2= t(:officials)
= link_to t('.new_official'), new_counterparty_official_path(@counterparty), class: 'btn btn-default'
%table.table.table-striped
  %thead
    %tr
      %th= han 'counterparty/official', :id
      %th= han 'counterparty/official', :name
      %th= han 'counterparty/official', :position
      %th= t :operations
  %tbody
    - @counterparty.officials.web.each do |official|
      %tr
        %td= official.id
        %td= link_to official.name, counterparty_official_path(@counterparty, official)
        %td= official.position
        %td
          - if policy(official).edit?
            = link_to t(:edit), edit_counterparty_official_path(@counterparty, official)