- present(@official) do |official_presenter|
  %h1= official_presenter.full_name
  %dl.dl-horizontal
    = show_attribute official_presenter, :counterparty
    = show_attribute official_presenter, :position
    = show_attribute official_presenter, :contacts
    %dt= t :operations
    %dd
      - if policy(@official).edit?
        = link_to t(:edit), edit_counterparty_official_path(@official.counterparty, @official)