%h1= @official.name
%dl.dl-horizontal
  %dt= han 'counterparty/official', :position
  %dd= markdown @official.contacts

  %dt= t :operations
  %dd
    - if policy(@official).edit?
      = link_to t(:edit), edit_counterparty_official_path(@official.counterparty, @official)
  %dt= t('.counterparty')
  %dd= link_to @official.counterparty, counterparty_path(@official.counterparty)